<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Prototype Permit Finder</title>
  <link rel="stylesheet" href="/static/vendor/leaflet/leaflet.css" />
  <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
  <main>
    <h1>Prototype Permit Finder</h1>
    <p>This is a demo/prototype to show federally-owned lands in the current map extent.</p>
    <div id="map"></div>
    <div id="app">
      <div v-if="isPastMinZoom">
        <p v-if="isLoading">
          Loading...
        </p>

        <div v-if="currentAgencies && currentAgencies.length">
          <p>Agencies with federal land in view area:
            <span v-for="agency in currentAgencies" v-bind:style="{ color: COLOR_MAP[agency] }" class="agency">
              {{ agency }}
            </span>
          </p>
        </div>

        <p v-if="!currentAgencies || !currentAgencies.length">
          No federal lands found in the current view extent.
        </p>
      </div>
      <div v-else>
        <p>Please <strong>zoom in</strong> to view federal land features.</p>
      </div>
    </div>
    <div class="credits">
      <p>
        Federal land information is from the “Federal Lands of the United States”
        dataset by the USGS and was retrieved from
        <a href="https://catalog.data.gov/dataset/federal-lands-of-the-united-states-direct-download">
          https://catalog.data.gov/dataset/federal-lands-of-the-united-states-direct-download
        </a>.
      </p>
      <p>
        Source code: <a href="https://github.com/18f/permit-finder">https://github.com/18f/permit-finder</a>
      </p>
    </div>
  </main>
  <script src="/static/vendor/vue.min.js"></script>
  <script src="/static/vendor/axios.min.js"></script>
  <script src="/static/vendor/leaflet/leaflet.js"></script>
  <script src="/static/vendor/leaflet-hash.js"></script>
  <script src="/static/vendor/Leaflet.VectorGrid.bundled.js"></script>
  <script src="/static/script.js"></script>
</body>
</html>
